<% if @interest_points.blank? %>
<p>There are not any interest_points currently in the system.</p>
<% else %>
<p>These are the current interest_points in our system</p>
<ul id="interest_points">
<% @interest_points.each do |c| %>
<li><%= link_to c.name, {:action => 'show', :id => c.id} -%></li>
<% end %>
</ul>
<% end %>
<p><%= link_to "Add new Interest Point", {:action => 'new' }%></p>


